.page {
    max-width: 880px;
    min-width: 320px;
    margin: 0 auto;
}

@media screen and (max-width: 920px) {
    .page {
        max-width: 780px;
    }
}

@media screen and (max-width: 620px) {
    .page {
        max-width: 580px;
    }
}