.header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    max-width: 880px;
    min-height: 74px;
    margin: 45px 0 0;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 558px) {
    .header {
        width: 100%;
        min-height: 56px;
        margin: 28px 0 0;
    }
}